/* this is the most basic styling ever, it literally looks like internet explorer */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('/assets/css/themes.css');

* {
  color: var(--txtcolor);
  background: var(--bgcolor);
  font-family: 'Inter', sans-serif;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  background: var(--bgcolor);
  height: 40px;
  padding: 0 8px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

#tabs {
  flex: 1;
  display: flex;
  overflow-x: auto;
  gap: 4px;
  scrollbar-width: thin;
  scrollbar-color: var(--txtcolor) transparent;
}

#tabs::-webkit-scrollbar {
  width: 7px;
  background-color: black;
}

#tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

#tabs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: var(--txtcolor);
}

[data-tab-id] {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border);
  background: none;
  cursor: pointer;
  user-select: none;
  min-width: 120px;
  max-width: 250px;
  white-space: nowrap;
  border-radius: 9px;
}

[data-tab-id].active {
  background: var(--surface-hover);
  border-color: var(--txtcolor);
  font-weight: bold;
}

[data-tab-id] img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border-radius: 2px;
  background: none;
}

[data-tab-id] .tab {
  flex: 1;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
}

[data-tab-id] button {
  margin-left: 6px;
  margin-bottom:3px;
  background: none;
  border: none;
  color: var(--surface);
  font-size: 23px;
  line-height: 1;
  cursor: pointer;
  padding: 0;
}

[data-tab-id] button:hover {
  color: #777;
}

#new-tab-btn {
  padding: 6px 10px;
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--txtcolor);
  top: 10px;
  right: 10px;
  position: absolute;
}

#new-tab-btn:hover {
  background: #eee;
  border-color: #999;
}

.draggable-tab.dragging {
  opacity: 0.5;
}

button:focus {
  outline: 2px solid #666;
  outline-offset: 2px;
}

i {
  background: none;
}

hr {
  border: none;
  height: 1px;
  background: var(--border);
  margin: 12px 16px;
  opacity: 0.5;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input {
  width: calc(100vw - 223px);
  max-width: 1100px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: calc(100vw - 223px);
  outline: none;
}

.fc {
  border: 1px solid var(--border);
  background: var(--surface);
  color: var(--txtcolor);
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

section {
  height: 350px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#customAlert[style*="display: block"]~.mainContainer {
  display: none;
}

#customAlert {
  background:black;
}